# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Coverage directory
coverage/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Kubernetes
k8s/**/*.generated.yaml

# Node
npm-debug.log 